<%-include("../header.ejs")%>

<div class="government_schemes">
    <div class="schemes">
        <div class="government_schemes_h"><h2 style="padding-top: 10px; text-decoration: underline; font-family: 'Times New Roman', Times, serif;">Government Schemes</h2></div>
        <table class="table table-hover">
            <tr>
                <th>Index</th>
                <th>Schemes</th>
                <th>Type of assistance</th>
                <th>Criteria</th>
                <th>Option</th>
              </tr>
              <tr>
                <td>1</td>
                <td>Work plan Organic <br> Farming
                    Scheme  </td>
                <td>Promotion of Integrated <br>
                    Nutrient Management </td>
                <td>Rs 1000 per hectare </td>
                <td><button type="button" class="btn btn-success btn-md"><a href="#" class="an">Apply</a></button></td>
              </tr>
              <tr>
                <td>2</td>
                <td>National Project on
                    Management <br> of Soil Health
                    and Fertility </td>
                <td>Promoting the use of <br>
                    organic manuring </td>
                <td>Rs 500 per hectare</td>
                <td><button type="button" class="btn btn-success btn-md"><a href="#" class="an">Apply</a></button></td>
              </tr>
              <tr>
                <td>3</td>
                <td>National Project on
                    Management <br> of Soil Health
                    and Fertility</td>
                <td>Supply of lime/basic slag <br>
                    for reclaiming acidic soil. </td>
                <td>Rs 500 per hectare <br> @
                    25% of cost </td>
                <td><button type="button" class="btn btn-success btn-md"><a href="#" class="an">Apply</a></button></td>
              </tr>
              <tr>
                <td>4</td>
                <td>National Project on <br> Organic
                    Farming </td>
                <td>Establishment of bio
                    fertilizer <br> and/or bio
                    pesticide unit </td>
                <td>Subsidy of 25% on
                    total financial <br> outlay
                    for 200 tons limited
                    to Rs 40 lakh. </td>
                <td><button type="button" class="btn btn-success btn-md"><a href="#" class="an">Apply</a></button></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Integrated Cereals
                    Development <br> Programme </td>
                <td>Micro nutrients in
                    wheat,Pulses, Rice </td>
                <td>50% cost limited to
                    Rs 500 per hectare </td>
                <td><button type="button" class="btn btn-success btn-md"><a href="#" class="an">Apply</a></button></td>
              </tr>
              <tr>
                <td>6</td>
                <td>Work plan Organic <br> Farming
                    Scheme  </td>
                <td>Promotion of Integrated <br>
                    Nutrient Management </td>
                <td>Rs 1000 per hectare </td>
                <td><button type="button" class="btn btn-success btn-md"><a href="#" class="an">Apply</a></button></td>
              </tr>
              <tr>
                <td>7</td>
                <td>National Project on
                    Management <br> of Soil Health
                    and Fertility </td>
                <td>Promoting the use of <br>
                    organic manuring </td>
                <td>Rs 500 per hectare</td>
                <td><button type="button" class="btn btn-success btn-md"><a href="#" class="an">Apply</a></button></td>
              </tr>
              <tr>
                <td>8</td>
                <td>National Project on
                    Management <br> of Soil Health
                    and Fertility</td>
                <td>Supply of lime/basic slag <br>
                    for reclaiming acidic soil. </td>
                <td>Rs 500 per hectare <br> @
                    25% of cost </td>
                <td><button type="button" class="btn btn-success btn-md"><a href="#" class="an">Apply</a></button></td>
              </tr>
              <tr>
                <td>9</td>
                <td>National Project on <br> Organic
                    Farming </td>
                <td>Establishment of bio
                    fertilizer <br> and/or bio
                    pesticide unit </td>
                <td>Subsidy of 25% on
                    total financial <br> outlay
                    for 200 tons limited
                    to Rs 40 lakh. </td>
                <td><button type="button" class="btn btn-success btn-md"><a href="#" class="an">Apply</a></button></td>
              </tr>
              <tr>
                <td>10</td>
                <td>Integrated Cereals
                    Development <br> Programme </td>
                <td>Micro nutrients in
                    wheat,Pulses, Rice </td>
                <td>50% cost limited to
                    Rs 500 per hectare </td>
                <td><button type="button" class="btn btn-success btn-md"><a href="#" class="an">Apply</a></button></td>
              </tr>
          </table>
    </div>
    <div style="padding-bottom: 30px;">
        <p style="margin: 0;">Copyright © 2023 eKrushi. All right reserved</p>
    </div>
</div>