 <!-- footer -->
 <section id="footer">
    <div class="container-fluid">
        <div class="footer-container">
            <div class="row px-md-3">
              <div class="col-sm-6 col-lg-3 py-3">
                <ul class="footer-menu">
                  <li><h5>E-Krushi</h5></li>
                  <li><a href="about" class="an">About Us</a></li>
                  <li><a href="#" class="an">Help</a></li>
                  <li><a href="#" class="an">Developer Team</a></li>
                  <li><a href="#" class="an">Support</a></li>
                </ul>
              </div>
              <div class="col-sm-6 col-lg-3 py-3">
                <ul class="footer-menu">
                  <li><h5>More</h5></li>
                  <li><a href="#" class="an">Terms & Conditions</a></li>
                  <li><a href="#" class="an">Privacy</a></li>
                  <li><a href="#" class="an">Advertise</a></li>
                  <li><a href="#" class="an">Join as buyers</a></li>
                </ul>
              </div>
              <div class="col-sm-6 col-lg-3 py-3">
                <ul class="footer-menu">
                  <li><h5>Our partners</h5></li>
                  <li><a href="#" class="an">Seed Company</a></li>
                  <li><a href="#" class="an">Fertilizer Company</a></li>
                  <li><a href="#" class="an">Buyers</a></li>
                </ul>
              </div>
              <div class="col-sm-6 col-lg-3 py-3">
                <h5>Contact</h5>
                <a href="#" class="footer-link an">eKrushi@gmail.com</a>
              </div>
            </div>
      
            <hr>
      
            <p id="copyright">Copyright &copy; 2023 eKrushi. All right reserved</p>
          </div>
    </div>
</section>
</body>