<%-include("header.ejs")%>

<section id="Title">
      <!-- title -->
      <div class="title">
          <!-- <h5 class="heading">Enhancing the farming practices</h5> -->
      </div>
</section>
<section id="Cards">
    <!-- cards -->
<div class="cards-cc-top" id="cards">
    <h1 class="h">Our Features !</h1>
    <div class="row cards-cc">
        <div class="col-lg-4 col-sm-6" >
            <div class="card" style="width: 22rem; height: 16rem;" id="Health">
            <div class="card-body card-body-cc">
                <h5 class="card-title">Crop Health Monitoring</h5>
                <p class="card-text">With supporting text below <br> as a natural lead-in <br> to additional content.</p>
                <a href="/crop_health_monitoring" class="btn btn-outline-success">Check</a>
            </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card" style="width: 22rem; height: 16rem;">
            <div class="card-body card-body-cc">
                <h5 class="card-title">Crop/Fertilizers Suggestions</h5>
                <p class="card-text">With supporting text below <br> as a natural lead-in <br> to additional content.</p>
                <a href="/crop_fertilizers_suggestions" class="btn btn-outline-success">Suggestions</a>
            </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card" style="width: 22rem; height: 16rem;" id="irrigation">
            <div class="card-body card-body-cc">
                <h5 class="card-title">Track Soil</h5>
                <p class="card-text">With supporting text below <br> as a natural lead-in <br> to additional content.</p>
                <a href="/track_soil" class="btn btn-outline-success">Start</a>
            </div>
            </div>
        </div>
        <!-- br -->
        <div class="col-lg-4 col-sm-6">
            <div class="card" style="width: 22rem; height: 16rem;">
            <div class="card-body card-body-cc">
                <h5 class="card-title">Weather Conditions</h5>
                <p class="card-text">With supporting text below <br> as a natural lead-in <br> to additional content.</p>
                <a href="/weather_conditions" class="btn btn-outline-success">Check</a>
            </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card" style="width: 22rem; height: 16rem;">
            <div class="card-body card-body-cc">
                <h5 class="card-title">Market Place</h5>
                <p class="card-text">With supporting text below <br> as a natural lead-in <br> to additional content.</p>
                <a href="/market_place" class="btn btn-outline-success">Continue</a>
            </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card" style="width: 22rem; height: 16rem;">
            <div class="card-body card-body-cc">
                <h5 class="card-title">Government Schemes</h5>
                <p class="card-text">With supporting text below <br> as a natural lead-in <br> to additional content.</p>
                <a href="/government_schemes" class="btn btn-outline-success">Check</a>
            </div>
            </div>
        </div>
      </div>
    </div>
</section>
  <section id="dashboard">
    <div class="dashboard">
        <h2 style="margin-bottom: 30px;">See your dashboard and fields status</h2>
        <button type="button" class="btn btn-success nav-item btn-lg">  <a href="/dashboard" class="an">See Dashboard</a>  </button>
    </div>
</section>

<%-include("footer.ejs")%>